{% extends "base.html" %}

{% block announce %}
<h3 style="color: red">IMPORTANT!</h3>
<p>ChainSafe has moved on from ChainBridge, offering only limited support for the new <a href="https://github.com/ChainSafe/chainbridge-core">chainbridge-core repo</a>.</p>
<p>We will happily collaborate with new maintainers of the ChainBridge repo if <a href="https://github.com/ChainSafe/chainbridge-core/issues">issues</a> are formally submitted on our GitHub.</p>
<p>In the meanwhile, there are other open source options to checkout that has based their relayer infrastructure on chainbridge-core’s, such as <a href="http://buildwithsygma.com/">Sygma</a>, with whom we are excited to lend our expertise on. We hope you check it out!</p>
{% endblock %}
